# REPO_NAME, OPERATOR_NAME, OPERATOR_VERSION, REGISTRY_IMG, IMAGE_DIGEST, CHANNEL
{{ if eq .config.cluster_metadata.api_openshift_com_name "rvmo-demo2" }}
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    package-operator.run/phase: namespaces
    test.openshift.io/operator-repo: ${REPO_NAME}
  labels:
    openshift.io/cluster-monitoring: 'true'
  name: openshift-${OPERATOR_NAME}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ${OPERATOR_NAME}
  namespace: openshift-${OPERATOR_NAME}
  annotations:
    olm.operatorframework.io/exclude-global-namespace-resolution: 'true'
    package-operator.run/phase: ${OPERATOR_NAME}
spec:
  targetNamespaces:
  - e2e-testing
---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  annotations:
    package-operator.run/phase: ${OPERATOR_NAME}
  labels:
    opsrc-datastore: 'true'
    opsrc-provider: redhat
  name: ${OPERATOR_NAME}-registry
  namespace: openshift-${OPERATOR_NAME}
spec:
  displayName: ${OPERATOR_NAME}
  icon:
    base64data: ''
    mediatype: ''
  image: ${REGISTRY_IMG}@${IMAGE_DIGEST}
  publisher: Red Hat
  sourceType: grpc
  grpcPodConfig:
    securityContextConfig: restricted
    nodeSelector:
      node-role.kubernetes.io: infra
    tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/infra
      operator: Exists
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ${OPERATOR_NAME}
  namespace: openshift-${OPERATOR_NAME}
  annotations:
    package-operator.run/phase: ${OPERATOR_NAME}
spec:
  channel: ${CHANNEL}
  name: ${OPERATOR_NAME}
  source: ${OPERATOR_NAME}-registry
  sourceNamespace: openshift-${OPERATOR_NAME}
{{ end }}
