apiVersion: apps/v1
kind: Deployment
metadata:
  name: osd-example-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: osd-example-operator
  template:
    metadata:
      labels:
        name: osd-example-operator
    spec:
      serviceAccountName: osd-example-operator
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: node-role.kubernetes.io/infra
                operator: Exists
            weight: 1
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/infra
          operator: Exists
      containers:
        - name: osd-example-operator
          image: quay.io/redhat-user-workloads/oeo-cicada-tenant/osd-example-operator/operator@sha256:f6e848231b54c69354ab71f6af62ffc2d4476b4320cb5b7457ef8a2333524a98
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "osd-example-operator"
